.columns-container {
  display: flex;
  justify-content: center;
}

.column {
  margin: 0 20px;
}

.tr {
  text-align: center;
}

tr.border-bottom td {
  border: 1pt solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(to bottom, black, blue);
  border-radius: 5px;
  text-align: center;
  padding: 10px;
}

tr.table-header:hover {
  cursor: pointer;
}

table {
  margin: 0 auto;
}

.delayed-animation-Exercise {
  animation: fadeIn 0.3s ease-in-out;
  animation-fill-mode: both;
  opacity: 0;

}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

td.difficulty {
  font-weight: bold;
  text-align: center;
  color: white;
}

td.difficulty.easy {
  color: green;
}

td.difficulty.medium {
  color: orange;
}

td.difficulty.hard {
  color: red;
}