/* Button css */
.button,
.button-disabled {
  display: inline-block;
  padding: 0.3em 2.2em;
  border: 0.1em solid black;
  margin: 0 0.3em 0.3em 0;
  border-radius: 1em;
  box-sizing: border-box;
  color: black;
  text-align: center;
  transition: all 0.2s;
  background-color: white;
  font-size: medium;
}

.button-disabled {
  background-color: grey;
  display: flex;
  flex-direction: column;
}

.button:hover {
  color: white;
  background-color: black;
  cursor: pointer;
}

/* Didelis kvadratinis mygtukas, kaip submit formose */
#submitButton {
  width: 60%;
  height: 50px;
  padding: 10px;
  border: 0.1em solid black;
  border-radius: 5px;
  box-sizing: border-box;
  color: white;
  text-align: center;
  transition: all 0.2s;
  background-color: black;
  margin-top: 15px;
  margin-bottom: 30px;
  font-size: 20px;
  border-radius: 10px;
  justify-content: center;
}

#submitButton:hover {
  color: black;
  background-color: white;
  cursor: pointer;
}


/*Home page mygtukas didelis*/
#buttonHome {
  --b: 3px;
  /* border thickness */
  --s: .45em;
  /* size of the corner */
  --color: #fffb00d3;

  padding: calc(.5em + var(--s)) calc(.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background:
    conic-gradient(from 90deg at var(--b) var(--b), #0000 90deg, var(--color) 0) var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
  transition: .3s linear, color 0s, background-color 0s;
  outline: var(--b) solid #0000;
  outline-offset: .6em;
  font-size: 25px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  border: 0;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

#buttonHome:hover,
#buttonHome:focus-visible {
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: .05em;
}

#buttonHome:active {
  background: var(--color);
  color: #fff;
}