span {
  display: inline !important;
}
.cm-editor{
  background-color: black;
}
.cm-line{
  color: white;
}
.cm-gutter{
  background-color: #100c0c;
}
.cm-lineNumbers{
  color: white;
}

.cm-activeLineGutter{
  color: red;
}
.cm-selectionMatch {
  display: inline !important;
}

.cm-matchingBracket {
  display: inline !important;
}

.cm-o-replacement {
  display: "inline-block";
  width: ".5em";
  height: ".5em";
  border-radius: ".25em";
}

.CodeMirror {
  border: 1px solid #eee;
  height: auto;
}

.CodeMirror-hints {
  display: inline !important;
  color: #100c0c;

}

/* Split the screen in half */
.split {
  height: 100%;
  width: 40%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
}

/* Control the left side */
.left {
  left: 0;
  border-right: white;
  border-right-style: solid;
  border-width: 0.5em;
  width: 39%;
  background-color: #100c0c;
}

/* Control the right side */
.right {
  left: 39%;
  width: 100%;
  padding-left: 0.30em;
  border-left: 5px solid white;
  background: linear-gradient(59deg, rgba(15,15,15,1) 0%, rgba(75,100,148,1) 100%);
}

/* If you want the content centered horizontally and vertically */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}


.codeField {
  width: 100%;
  padding-left: 0.2em;

}

.submitButtonDiv {
  height: 5%;
  width: 57%;
  padding-left: 2%;
  margin-top: 1em;
  position: relative;
  background-color: transparent;
}

.exercise {
  max-width: 100%;
  max-height: 100%;

}

.exercise>img {
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
  width: 100%;

}